<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/profile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/tharlon.css">
    <link href='https://fonts.googleapis.com/css?family=Tienne' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body>
    <div id='app'>
        <div id='topBar'>
            <div id="topBarText">
                DailyFitnessTracker.com
            </div>
        </div>
        <div id='sideBar'>
            <button class='sideBarButtons' onclick="toHomepage()">Homepage</button>
            <button class='sideBarButtons' onclick="toEnterWorkoutsPage()">Enter Exercise</button>
            <button class='sideBarButtons' onclick="toRewardsPage()">View Rewards</button>
            <button class='sideBarButtons' onclick="toProfilePage()">My Profile</button>
            <button class='sideBarButtons' onclick="toSettingsPage()">Settings</button>
        </div>
        <div id='profile'>
            <div id="headerPhotoBox">
                <img id="headerPhoto" v-bind:src="profileHeaderPhoto" />
            </div>
            <div id='profilePictureDiv'>
                <img id='profilePicture' v-bind:src="profilePhotoUrl" />
            </div>
            <div id="profileTextDiv">
                <p id='userNameText'>{{profileName}}</p>
                <p id='profileNumberText'>User ID: {{profileNumber}}</p>
            </div>
            <div id="achievementDiv">
                <div id="achievementTitle"><p>Achievements<span></div>
                <div class="achievementFlexContainer">
                    <div class="achievementBox" v-for="value in profileAchievements">
                        <p class="achievementText">
                            {{value.achievementName}}
                        </p>
                        <img class="achievementImage" v-bind:src="value.achievementPictureUrl" />
                        <p class="achievementDesc">
                            {{value.achievementDescription}}
                        </p>
                    </div>
                </div>
            </div>
            <div id="workoutBox">
                <p>Workout History</p>
                <div id="timeDiv">
                    <div id="timeDropdown">
                        <button id="timeDropBtn">Filter Time</button>
                        <div id="timeDropdownContent">
                            <a v-on:click="filterWeek()">Last Week</a>
                            <a v-on:click="filterMonth">Last Month</a>
                            <a v-on:click="filterAll">Last Year</a>
                        </div>
                    </div>
                </div>
                <p id="forSelectedFilter">For {{selectedFilter}}</p>
                    <div class="workoutFlexContainer">
                        <div v-for="value in filteredWorkoutData">
                            <div class="workoutBox">
                                <p class="workoutDate">{{value.dateConvert}}</p>
                                <p class="workoutName">{{value.name}}</p>
                                <p class="workoutSets">Sets: {{value.sets}}</p>
                                <p class="workoutReps">Reps: {{value.reps}}</p>
                                <p>Points: {{value.points}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="exercises.js"></script>
    <script src="js/index.js"></script>
</body>

</html>