#titlebanner{
    font-size: 48px;
    text-align: center;
    padding: 5px;
}

#titlewrapper{
    border: 2px solid;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #00ffc5;
}

#enterData{
    border: 2px solid;
    margin-top: 50px;
    margin-left: 50px;
    width: 500px;
    height: 300px;
}

.dataparent{
    white-space: nowrap;
}

.datachild{
    display: inline-block;
    font-weight: bold;
}